@font-face {

	font-family: "Cartoon Relief";
	src: url("./Cartoon Relief.ttf");

}

@font-face {

	font-family: "Consolas";
	src: url("./Consolas.ttf");

}

@font-face {

	font-family: "Monaco";
	src: url(".monaco.ttf");

}

body {


	background-image: url(../img/background.png);
	margin-top: 3%;
	font-family: "Open Sans", "Helvetica Neue";

}

h1, h2 {

	text-align: center;
	margin: 0px 0px 20px 0px;
}

h1 {

	font-family: "Cartoon Relief";
	font-size: 80px;
	font-weight: normal;
}


.hljs {

	border-radius: 10px;
}

#wrapper {

	background-color: white;
	width: 45%;
	margin: 40px auto auto auto;
	border: 1px black solid;
	border-radius: 20px;
	padding: 25px;
	box-shadow: 10px 10px 10px #999;

}

#wrapper pre code {

	font-size: 0.9em;
	font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono',
                              'Bitstream Vera Sans Mono', monospace;
	width: 80%;
	margin: auto;
	padding: 20px;


}

ul#menu {
	list-style: none;
	width: 30%;
	text-align: center;
	margin: auto;
	padding: 0;
	background-color: #9c3334;
}

li {

	display: inline-block;
	padding: 10px 30px 10px 30px;
}

li:hover {
	background-color: #78292a;
}

li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
}


#info {

	padding: 5px;
	margin-bottom: 10px;
	width: 270px;
	background-color: #a0e4a0;
	float: left;
	display: none;

}

#info p {

	margin: auto;

}

input[type="button"], input[type="submit"] {

	box-sizing: none;
	font-family: "Open Sans";
	font-size: 17px;
	display: block;
	background-color: #9c3334;
	border: 0;
	padding: 5px 10px 5px 10px;
	color: white;

}

input[type="button"]:hover {
	background-color: #78292a;

}

#wrapper img {

	display: inline-block;
	margin-left: 10%;
}

aside {

	text-align: center;
	float: right;
	margin-right: 10%;

}

aside textarea {
	font-family: "Open Sans";
	resize: none;
	width: 250px;
	height: 150px;
}

aside #enviar {

	margin: auto;
}
